!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %meta{name: "description",
      content: yield_content(:description)&.strip || "The personal site of Elliot Winkler."}
    %title= page_title(default: yield_content(:default_title))
    = stylesheet_link_tag "all.bundle.css"
    - if build?
      = partial "shared/google_analytics"
    = yield_content :head
  %body(class="#{page_classes}")
    .site-container
      %header.site-header
        = yield_content :header
      %section.site-content(data-role="content")
        ~ yield
      = yield_content :bottom_of_container
    = yield_content :javascript
    = javascript_include_tag "all.bundle.js"
